extends layout
include mixins/head

block pageTitle
  +head('Error')

block content
  p(class='mt-6 text-center text-2xl leading-9 font-extrabold text-gray-900')
    | #{message}
  a(href='/' class='mt-6 text-center text-1xl leading-9 font-extrabold text-blue-500 block')
    | Back
